.canvas__selection-paper,
.canvas__selection-dashes {
  fill: none;
  stroke-linecap: butt;
  stroke-linejoin: round;
}

.canvas__selection-paper,
.canvas__selection-stripe-paper {
  stroke: var(--color-selection-paper);
}

.canvas__selection-dashes {
  stroke: var(--color-selection);
  stroke-dasharray: 4 4;
}

.canvas__selection-stripe-paper {
  stroke-width: 2.5;
}

.canvas__selection-stripe {
  stroke: var(--color-selection);
  stroke-width: 1;
}
